In [1]:
Suku=input("Nilai Suku Pertama : ")
Un=input("Nilai Suku Terakhir : ")
Beda=input("Beda Yang Anda Inginkan : ")
Sn=0
for x in range(int(Suku),int(Un)+1,int(Beda)):
  print(x, end=" ")
  Sn += x
print("\nJumlah Total : ",Sn) 
print("\n\n")

Nilai Suku Pertama : 1
Nilai Suku Terakhir : 8
Beda Yang Anda Inginkan : 2
1 3 5 7
Jumlah Total :  16

In [2]:
Suku=input("Nilai Suku Pertama : ")
suku=[]
Un=input("Nilai Suku Terakhir : ")
Beda=input("Beda Yang Anda Inginkan : ")
Sn=0
for x in range(int(Suku),int(Un)+1,int(Beda)):
  suku.append(x)
  Sn += x
print(suku)
print("Jumlah Total : ",Sn)

Nilai Suku Pertama : 1
Nilai Suku Terakhir : 8
Beda Yang Anda Inginkan : 2
[1, 3, 5, 7]
Jumlah Total :  16

In [3]:
Suku=input("Nilai Suku Pertama : ")
Un=input("Nilai Suku Terakhir : ")
Beda=input("Beda Yang Anda Inginkan : ")
suku=[x for x in range(int(Suku),int(Un)+1,int(Beda))]
print(suku)

Nilai Suku Pertama : 1
Nilai Suku Terakhir : 8
Beda Yang Anda Inginkan : 2
[1, 3, 5, 7]

In [4]:
FirstNum1=int(input("Masukan Nilai Awal List 1 : "))
LastNum1=int(input("Masukan Nilai Akhir List 1 : "))
Different1=int(input("Masukan Beda List 1 : "))
FirstNum2=int(input("\nMasukan Nilai Awal List 2 : "))
LastNum2=int(input("Masukan Nilai Akhir List 2 : "))
Different2=int(input("Masukan Nilai Beda List 2 : "))
Even=[]
for Elemen1 in range(FirstNum1,LastNum1+1,Different1):
  for Elemen2 in range(FirstNum2,LastNum2+1,Different2):
    if (Elemen1+Elemen2)%2==0 :
      Even.append([Elemen1,Elemen2])
print(Even)

Masukan Nilai Awal List 1 : 1
Masukan Nilai Akhir List 1 : 10
Masukan Beda List 1 : 1

Masukan Nilai Awal List 2 : 1
Masukan Nilai Akhir List 2 : 10
Masukan Nilai Beda List 2 : 1
[[1, 1], [1, 3], [1, 5], [1, 7], [1, 9], [2, 2], [2, 4], [2, 6], [2, 8], [2, 10], [3, 1], [3, 3], [3, 5], [3, 7], [3, 9], [4, 2], [4, 4], [4, 6], [4, 8], [4, 10], [5, 1], [5, 3], [5, 5], [5, 7], [5, 9], [6, 2], [6, 4], [6, 6], [6, 8], [6, 10], [7, 1], [7, 3], [7, 5], [7, 7], [7, 9], [8, 2], [8, 4], [8, 6], [8, 8], [8, 10], [9, 1], [9, 3], [9, 5], [9, 7], [9, 9], [10, 2], [10, 4], [10, 6], [10, 8], [10, 10]]

In [5]:
irstNum1=int(input("Masukan Nilai Awal List 1 : "))
LastNum1=int(input("Masukan Nilai Akhir List 1 : "))
Different1=int(input("Masukan Beda List 1 : "))
FirstNum2=int(input("\n1Masukan Nilai Awal List 2 : "))
LastNum2=int(input("Masukan Nilai Akhir List 2 : "))
Different2=int(input("Masukan Nilai Beda List 2 : "))
Odd=[[E1,E2] for E1 in range(FirstNum1,LastNum1+1,Different1) for E2 in range(FirstNum2,LastNum2+1,Different2) if (E1+E2)%2==1]
print(Odd)

Masukan Nilai Awal List 1 : 1
Masukan Nilai Akhir List 1 : 10
Masukan Beda List 1 : 1

1Masukan Nilai Awal List 2 : 1
Masukan Nilai Akhir List 2 : 10
Masukan Nilai Beda List 2 : 1
[[1, 2], [1, 4], [1, 6], [1, 8], [1, 10], [2, 1], [2, 3], [2, 5], [2, 7], [2, 9], [3, 2], [3, 4], [3, 6], [3, 8], [3, 10], [4, 1], [4, 3], [4, 5], [4, 7], [4, 9], [5, 2], [5, 4], [5, 6], [5, 8], [5, 10], [6, 1], [6, 3], [6, 5], [6, 7], [6, 9], [7, 2], [7, 4], [7, 6], [7, 8], [7, 10], [8, 1], [8, 3], [8, 5], [8, 7], [8, 9], [9, 2], [9, 4], [9, 6], [9, 8], [9, 10], [10, 1], [10, 3], [10, 5], [10, 7], [10, 9]]

In [6]:
print"Hello World"

SyntaxError: ignored

In [7]:
3/0

ZeroDivisionError: ignored

In [8]:
3+a

NameError: ignored

In [9]:
x=4
y="Hello World"
x+y

TypeError: ignored